.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  margin: 2rem auto;
  padding: 2rem;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  animation: fadeIn 0.5s ease-in-out;

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  label {
    font-weight: bold;
    color: #333;
  }

  input {
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;

    &:focus {
      border-color: #007bff;
    }
  }
}

.createButton {
  padding: 0.8rem;
  background: linear-gradient(90deg, #0e4177, #093942);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background: linear-gradient(90deg, #093564, #09303f);
  }
}

.adminList {
  margin-top: 2rem;
  overflow-y: scroll;
  height: 400px;
  padding-right: 10px; /* Prevent content from hiding behind the scrollbar */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #042446 #f8f9fa; /* For Firefox */

  ul {
    list-style: none;
    padding: 0;
  }
}

.adminItem {
  padding: 0.5rem;
  background: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

.adminItem.banned {
  background-color: #f8d7da;
}

.highlight {
  background-color: #d4edda;
  transition: background-color 0.3s ease;
}

.buttonContainer {
  display: flex;
  gap: 0.5rem;
}

.banButton,
.deleteButton {
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.3s;
}

.banButton {
  background: #ff9500;
  &:hover {
    background: #cc7600;
  }
}

.deleteButton {
  background: #ff3b30;
  &:hover {
    background: #cc2c20;
  }
}
